<h2 style={margin: auto;}>Olá {{deliverymanName}}.</h2>

<br />
<br />
<p>Devido aos problemas que ocorridos com a encomenda, a entrega do produto abaixo foi cancelada!</p>




<div
    style="display: flex; flex-direction: column; align-items: center; border: 1px solid #7C40E7; border-radius: 10px; color: #7c40e7;">
    <h1>Codigo: {{id}}</h1>
    <h2>{{name}}</h2>
</div>
